openapi: 3.0.3
info:
  contact:
    email: api-support@jmalltech.com
    name: GWMS API 团队
    url: https://jmalltech.com
  description: |
    GWMS（仓库管理系统）的官方公开API。
    它为ERP、电子商务平台和TMS等外部系统提供了一个标准化、健壮且易于集成的接口，以便与WMS功能进行交互。

    ## 认证机制

    本API采用基于JWT的Bearer令牌认证，结合三重凭证验证机制：

    1. **客户端凭证（Client Credentials）**：由系统管理员为上游系统生成的clientId和clientSecret
    2. **API密钥（API Key）**：由仓库用户生成，关联到特定仓库和权限范围
    3. **访问令牌（Access Token）**：通过认证端点获取的JWT令牌，用于API访问

    ## 快速开始

    1. **获取凭证**：联系系统管理员获取clientId和clientSecret，联系仓库用户获取apiKey
    2. **获取令牌**：调用 `POST /auth-api/token` 端点获取访问令牌
    3. **调用API**：在请求头中添加 `Authorization: Bearer {access_token}` 调用其他API

    ## 认证头部格式

    所有API请求（除了认证端点）必须包含以下HTTP头部：

    ```
    Authorization: Bearer {access_token}
    ```

    其中`{access_token}`是从认证端点获取的JWT令牌。缺少此头部或令牌无效将导致401错误。

    ## 权限范围

    API访问权限基于以下范围进行控制：

    | 权限范围 | 描述 | 适用API | 示例操作 |
    |---------|------|---------|---------|
    | `product:read` | 产品数据读取权限 | `/api/v1/products/*` | 查询产品列表、获取产品详情 |
    | `product:write` | 产品数据写入权限 | `/api/v1/products/*` | 创建产品、更新产品信息 |
    | `warehouse:read` | 仓库数据读取权限 | `/api/v1/warehouses/*` | 查询仓库列表、获取仓库详情 |
    | `warehouse:write` | 仓库数据写入权限 | `/api/v1/warehouses/*` | 创建仓库、更新仓库信息 |
    | `stock:read` | 库存数据读取权限 | `/api/v1/stock/*` | 查询库存数量、库存明细 |
    | `stock:write` | 库存数据写入权限 | `/api/v1/stock/*` | 库存调整、库存转移 |
    | `inbound:read` | 入库单读取权限 | `/api/v1/inbound/*` | 查询入库单列表、获取入库单详情 |
    | `inbound:write` | 入库单写入权限 | `/api/v1/inbound/*` | 创建入库单、更新入库单 |
    | `outbound:read` | 出库单读取权限 | `/api/v1/outbound/*` | 查询出库单列表、获取出库单详情 |
    | `outbound:write` | 出库单写入权限 | `/api/v1/outbound/*` | 创建出库单、更新出库单 |
    | `express:read` | 物流渠道读取权限 | `/api/v1/expressChannel/*` | 查询物流渠道列表 |
    | `express:write` | 物流渠道写入权限 | `/api/v1/expressChannel/*` | 创建物流渠道、更新物流渠道 |

    ## 错误响应

    认证失败时，API将返回以下错误响应：

    - **401 Unauthorized**：令牌无效、过期或缺失
    - **403 Forbidden**：令牌有效但权限不足
    - **429 Too Many Requests**：超过访问频率限制

    详细的错误响应格式请参考错误响应部分。
  title: GWMS Public API
  version: 1.0.3
servers:
- description: 生产服务器
  url: https://gwms.jmalltech.com/api-gateway
- description: 沙箱服务器
  url: https://api.sandbox.gwms.jmalltech.com
- description: 本地API服务器
  url: http://localhost:8080
- description: 本地认证服务器
  url: http://localhost:9000
security:
- BearerAuth: []
tags:
- description: 用于获取访问令牌的认证API，支持基于客户端凭证和API密钥的三重认证机制。
  name: 认证
- description: 用于管理产品主数据的API，这是所有仓库操作的基础。
  name: 主数据 - 产品
- description: 用于管理仓库主数据的API，包括仓库、库区、库位信息。
  name: 主数据 - 仓库
- description: 用于库存主数据的API，包含库存查询等。
  name: 主数据 - 库存
- description: 用于管理入库单的API，支持创建、查询、更新和状态管理。
  name: 入库单
- description: 用于管理业务流水的API
  name: Charge
paths:
  /auth-api/token:
    post:
      description: |
        使用客户端凭证（clientId + clientSecret）和API密钥获取JWT访问令牌。

        ## 认证流程详解

        ### 1. 准备阶段
        - **系统管理员**：为上游系统生成clientId和clientSecret
        - **仓库用户**：生成apiKey，关联到特定仓库和权限范围
        - **上游系统**：获取并安全存储这三个凭证

        ### 2. 令牌获取
        ```bash
        curl -X POST https://gwms.jmalltech.com/api-gateway/auth-api/token \
          -H "Content-Type: application/json" \
          -d '{
            "clientId": "EOUSSQNWMRVX15GA",
            "clientSecret": "tiy3dbyW8l5W06sFQwsjOIU8-xTLbRJJVtxreGlka8Y=",
            "apiKey": "8MO5994KEQMEZMAN"
          }'
        ```

        ### 3. API访问
        ```bash
        curl -H "Authorization: Bearer {access_token}" \
          https://gwms.jmalltech.com/api/v1/products
        ```

        ## 安全最佳实践

        - **clientSecret安全**：只在生成时显示一次，请妥善保存在安全的配置管理系统中
        - **令牌管理**：访问令牌有效期为1小时，建议在过期前5分钟重新获取
        - **权限最小化**：apiKey应只包含业务所需的最小权限范围
        - **网络安全**：生产环境必须使用HTTPS传输
        - **日志安全**：不要在日志中记录完整的凭证信息

        ## 错误处理

        - **400 Bad Request**：请求参数缺失或格式错误
        - **401 Unauthorized**：凭证无效、过期或被禁用
        - **429 Too Many Requests**：请求频率超出限制
        - **500 Internal Server Error**：服务器内部错误

        ## 权限范围说明

        令牌的权限范围由apiKey关联的仓库用户权限决定：

        | 权限范围 | 说明 | 示例操作 |
        |---------|------|---------|
        | `product:read` | 产品数据读取 | 查询产品列表、获取产品详情 |
        | `product:write` | 产品数据写入 | 创建、更新、删除产品 |
        | `warehouse:read` | 仓库数据读取 | 查询仓库、库区、库位信息 |
        | `warehouse:write` | 仓库数据写入 | 创建、更新仓库配置 |
        | `stock:read` | 库存数据读取 | 查询库存数量、库存明细 |
        | `stock:write` | 库存数据写入 | 库存调整、库存转移 |
        | `inbound:read` | 入库单读取 | 查询入库单列表、获取入库单详情 |
        | `inbound:write` | 入库单写入 | 创建、更新、取消入库单 |
        | `outbound:read` | 出库单读取 | 查询出库单列表、获取出库单详情 |
        | `outbound:write` | 出库单写入 | 创建、更新、取消出库单 |
      operationId: getAccessToken
      requestBody:
        content:
          application/json:
            examples:
              standard_request:
                description: 使用有效的客户端凭证和API密钥获取访问令牌
                summary: 标准认证请求
                value:
                  clientId: EOUSSQNWMRVX15GA
                  clientSecret: tiy3dbyW8l5W06sFQwsjOIU8-xTLbRJJVtxreGlka8Y=
                  apiKey: 8MO5994KEQMEZMAN
              minimal_scope_request:
                description: 只包含读取权限的API密钥认证请求
                summary: 最小权限请求
                value:
                  clientId: READONLY123456789012345678901234
                  clientSecret: abcdefghijklmnopqrstuvwxyz1234567890ABCDEF=
                  apiKey: READONLY12345678901234567890123
            schema:
              $ref: '#/components/schemas/TokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_response:
                  description: 一个标准的成功认证响应示例
                  summary: 默认成功响应
                  value:
                    access_token: eyJraWQiOiI3ZTUxOWIwOS01ZWQ0LTRhZTctYjk4NS1lYWRlNjM0N2IzZDkiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiIxOTI3OTgyMzMzNjI4MzcwOTQ1IiwiYXVkIjoiRU9VU1NRTldNUlZYMTVHQSIsInVzZXJfaWQiOiIxOTI3OTgyMzMzNjI4MzcwOTQ1IiwiYXBpX2tleSI6IjhNTzU5OTRLRVFNRVpNQU4iLCJzeXN0ZW1faWQiOiJnd21zLWRldiIsInZlbmRvciI6InRlc3RfdmViZG9yIiwic2NvcGUiOiJpbnZlbnRvcnk6cmVhZCBvcmRlcjpyZWFkIGFwaTpyZWFkIHdhcmVob3VzZTpyZWFkIiwiaXNzIjoiaHR0cHM6Ly9nd21zLmptYWxsdGVjaC5jb20vYXBpLWdhdGV3YXkvYXV0aC1hcGkiLCJleHAiOjE3NTMzNTQ4NzYsImlhdCI6MTc1MzM1MTI3NiwiY2xpZW50X2lkIjoiRU9VU1NRTldNUlZYMTVHQSJ9.lOIqdQdGEkAM8kX93sPYISHKqNuQZQnTwMoJIkOkBFRsCCyarMthOp5akFqyuI15c3odEpdgXWWpB6gN5Zk_ikU1OViG1mDMSvlTcoFkm6b65ocF_j6PXb8YxfdVRobcQPjN22lfy8XoB1DCLbmSQGptYdfmjRWflKw23fMoCJxcxZ26_bVtKOmywP8qBg3WwGSk8GB45QPsXxMOHCsdCx9lZkWNrMpmVk-Pa2d0vH8Ty1raA0HSWw7VixZNMwLfrDlGtEuxQZWBS_ohwfDCjhHewnKzt_n35FaLnt4CRikTp0UUt71TnpUU0nkt4sqWLiky3RlGxqaeRCqP8a1WGQ
                    api_key: 8MO5994KEQMEZMAN
                    user_id: "1927982333628370945"
                    system_id: gwms-dev
                    vendor: test_vebdor
                    scope: inventory:read order:read api:read warehouse:read
                    token_type: Bearer
                    expires_in: 3600
                    client_id: EOUSSQNWMRVX15GA
              schema:
                $ref: '#/components/schemas/TokenResponse'
          description: 认证成功，返回访问令牌
        "400":
          content:
            application/json:
              examples:
                missing_parameter:
                  summary: 缺少必需参数
                  value:
                    success: false
                    code: AUTH001
                    message: Missing required parameter
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: "clientId, clientSecret and apiKey are required"
                      details:
                      - field: clientId
                        message: clientId is required
                      - field: clientSecret
                        message: clientSecret is required
                      - field: apiKey
                        message: apiKey is required
                invalid_format:
                  summary: 参数格式错误
                  value:
                    success: false
                    code: AUTH001
                    message: Invalid parameter format
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: clientId and apiKey must be 32-character alphanumeric
                        strings
                      details:
                      - field: clientId
                        message: clientId must be exactly 32 characters long and contain
                          only uppercase letters and numbers
                      - field: apiKey
                        message: apiKey must be exactly 32 characters long and contain
                          only uppercase letters and numbers
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 请求参数错误
        "401":
          content:
            application/json:
              examples:
                invalid_client_credentials:
                  summary: 无效客户端凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided clientId and clientSecret combination
                        is invalid
                invalid_api_key:
                  summary: 无效API密钥
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided API key is invalid or does not exist
                expired_api_key:
                  summary: API密钥过期
                  value:
                    success: false
                    code: AUTH007
                    message: API key has expired
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH007
                      message: The provided API key has expired and needs to be regenerated
                disabled_client:
                  summary: 客户端已禁用
                  value:
                    success: false
                    code: AUTH006
                    message: Client has been disabled
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH006
                      message: Your client credentials have been disabled by the administrator
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 认证失败
        "429":
          content:
            application/json:
              examples:
                rate_limit:
                  summary: 频率限制
                  value:
                    success: false
                    code: AUTH005
                    message: Rate limit exceeded
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH005
                      message: "Too many authentication requests, please try again\
                        \ later"
                      details:
                      - field: rate_limit
                        message: Maximum 10 requests per minute allowed for token
                          endpoint
                      - field: retry_after
                        message: Please wait 60 seconds before next request
                      - field: current_usage
                        message: You have made 11 requests in the last minute
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 请求频率超限
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security: []
      summary: 获取访问令牌
      tags:
      - auth
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/warehouses:
    get:
      description: |
        检索仓库的分页列表，允许过滤和排序。

        **所需权限：** `warehouse:read`

        **使用场景：**
        - ERP系统同步仓库主数据
        - 电商平台获取可用仓库列表
        - TMS系统查询配送仓库信息
      operationId: listWarehouses
      parameters:
      - description: 页码（从1开始）
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
        style: form
      - description: 每页记录数
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          example: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: 结果的排序字段。使用逗号分隔的字段列表。
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: "createTime,code"
          type: string
        style: form
      - description: 排序方向。ASC为升序，DESC为降序。
        explode: true
        in: query
        name: isAsc
        required: false
        schema:
          $ref: '#/components/schemas/SortDirection'
        style: form
      - description: 按仓库编码筛选。
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - description: 按仓库名称筛选。
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: 按仓库状态筛选。
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/EntityStatus'
        style: form
      - description: 按城市筛选。
        explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
      - description: 按省/州筛选。
        explode: true
        in: query
        name: province
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseListResponse'
          description: 仓库的分页列表。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:read
      summary: 列出仓库
      tags:
      - Warehouses
      x-accepts: application/json
    post:
      description: |
        在系统中创建一个新仓库。此操作是幂等的，支持上游系统推送仓库数据。

        **所需权限：** `warehouse:write`

        **使用场景：**
        - ERP系统推送新建仓库信息
        - 系统集成时批量创建仓库主数据
      operationId: createWarehouse
      parameters:
      - description: 一个唯一的密钥（例如，UUID），以确保资源的幂等创建。
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseCreateRequest'
        description: 要创建的仓库信息。
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseResponse'
          description: 仓库已成功创建。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 冲突。当请求与服务器的当前状态冲突时，将发送此响应。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:write
      summary: 创建仓库
      tags:
      - Warehouses
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/warehouses/code/{code}:
    get:
      description: |
        通过仓库编码检索特定仓库的详细信息。

        **所需权限：** `warehouse:read`

        **使用场景：**
        - 验证仓库编码有效性
        - 获取仓库详细配置信息
        - 查询仓库地址和联系方式
      operationId: getWarehouseByCode
      parameters:
      - description: 仓库编码。
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseResponse'
          description: 仓库详情。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:read
      summary: 获取仓库详情
      tags:
      - Warehouses
      x-accepts: application/json
    put:
      description: |
        更新特定仓库的信息。支持上游系统推送更新后的仓库数据。

        **所需权限：** `warehouse:write`

        **使用场景：**
        - ERP系统同步仓库信息变更
        - 更新仓库地址、联系方式等基础信息
      operationId: updateWarehouse
      parameters:
      - description: 仓库编码。
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseUpdateRequest'
        description: 要更新的仓库信息。
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseResponse'
          description: 仓库已成功更新。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:write
      summary: 更新仓库
      tags:
      - Warehouses
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/warehouses/code/{code}/status:
    put:
      description: |
        启用或禁用特定仓库。

        **所需权限：** `warehouse:write`

        **使用场景：**
        - 临时禁用维护中的仓库
        - 启用新投入使用的仓库
        - 系统管理和运营控制
      operationId: updateWarehouseStatus
      parameters:
      - description: 仓库编码。
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      - description: 新的仓库状态。
        explode: true
        in: query
        name: status
        required: true
        schema:
          $ref: '#/components/schemas/EntityStatus'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseResponse'
          description: 仓库状态已成功更新。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:write
      summary: 更新仓库状态
      tags:
      - Warehouses
      x-accepts: application/json
  /api/v1/zones:
    get:
      description: |
        检索库区的分页列表，允许过滤和排序。

        **所需权限：** `warehouse:read`

        **使用场景：**
        - 查询仓库内的库区布局
        - 获取可用库区列表用于库存分配
        - 系统集成时同步库区信息
      operationId: listZones
      parameters:
      - description: 页码（从1开始）
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
        style: form
      - description: 每页记录数
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          example: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: 结果的排序字段。使用逗号分隔的字段列表。
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: "createTime,code"
          type: string
        style: form
      - description: 排序方向。ASC为升序，DESC为降序。
        explode: true
        in: query
        name: isAsc
        required: false
        schema:
          $ref: '#/components/schemas/SortDirection'
        style: form
      - description: 按所属仓库ID筛选。
        explode: true
        in: query
        name: warehouseId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: 按库区编码筛选。
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - description: 按库区名称筛选。
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: 按库区状态筛选。
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/EntityStatus'
        style: form
      - description: 按库区类型筛选。
        explode: true
        in: query
        name: zoneType
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneListResponse'
          description: 库区的分页列表。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:read
      summary: 列出库区
      tags:
      - Zones
      x-accepts: application/json
    post:
      description: |
        在指定仓库中创建一个新库区。此操作是幂等的。

        **所需权限：** `warehouse:write`

        **使用场景：**
        - 仓库扩建时创建新库区
        - 系统初始化时批量创建库区
        - ERP系统推送库区配置
      operationId: createZone
      parameters:
      - description: 一个唯一的密钥（例如，UUID），以确保资源的幂等创建。
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneCreateRequest'
        description: 要创建的库区信息。
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneResponse'
          description: 库区已成功创建。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 冲突。当请求与服务器的当前状态冲突时，将发送此响应。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:write
      summary: 创建库区
      tags:
      - Zones
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/zones/code/{code}:
    get:
      description: |
        通过库区编码检索特定库区的详细信息。

        **所需权限：** `warehouse:read`

        **使用场景：**
        - 验证库区编码有效性
        - 获取库区容量和配置信息
        - 库存分配前查询库区状态
      operationId: getZoneById
      parameters:
      - description: 库区编码。
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneResponse'
          description: 库区详情。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:read
      summary: 获取库区详情
      tags:
      - Zones
      x-accepts: application/json
    put:
      description: |
        更新特定库区的信息。

        **所需权限：** `warehouse:write`

        **使用场景：**
        - 调整库区容量配置
        - 更新库区类型和属性
        - 同步ERP系统的库区变更
      operationId: updateZone
      parameters:
      - description: 库区编码。
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneUpdateRequest'
        description: 要更新的库区信息。
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneResponse'
          description: 库区已成功更新。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:write
      summary: 更新库区
      tags:
      - Zones
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/zones/code/{code}/status:
    put:
      description: |
        启用或禁用特定库区。

        **所需权限：** `warehouse:write`

        **使用场景：**
        - 库区维护时临时禁用
        - 新库区投入使用时启用
        - 库存策略调整时控制库区可用性
      operationId: updateZoneStatus
      parameters:
      - description: 库区编码。
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      - description: 新的库区状态。
        explode: true
        in: query
        name: status
        required: true
        schema:
          $ref: '#/components/schemas/EntityStatus'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneResponse'
          description: 库区状态已成功更新。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:write
      summary: 更新库区状态
      tags:
      - Zones
      x-accepts: application/json
  /api/v1/locations:
    get:
      description: |
        检索库位的分页列表，允许过滤和排序。

        **所需权限：** `warehouse:read`

        **使用场景：**
        - 查询可用库位进行库存分配
        - 获取库位列表用于拣货路径规划
        - 系统集成时同步库位信息
      operationId: listLocations
      parameters:
      - description: 页码（从1开始）
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
        style: form
      - description: 每页记录数
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          example: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: 结果的排序字段。使用逗号分隔的字段列表。
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: "createTime,code"
          type: string
        style: form
      - description: 排序方向。ASC为升序，DESC为降序。
        explode: true
        in: query
        name: isAsc
        required: false
        schema:
          $ref: '#/components/schemas/SortDirection'
        style: form
      - description: 按所属仓库ID筛选。
        explode: true
        in: query
        name: warehouseId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: 按所属库区ID筛选。
        explode: true
        in: query
        name: zoneId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: 按库位编码筛选。
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - description: 按库位状态筛选。
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/EntityStatus'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationListResponse'
          description: 库位的分页列表。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:read
      summary: 列出库位
      tags:
      - Locations
      x-accepts: application/json
    post:
      description: |
        在指定库区中创建一个新库位。此操作是幂等的。

        **所需权限：** `warehouse:write`

        **使用场景：**
        - 仓库扩建时批量创建库位
        - 系统初始化时导入库位数据
        - 货架调整后创建新库位
      operationId: createLocation
      parameters:
      - description: 一个唯一的密钥（例如，UUID），以确保资源的幂等创建。
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationCreateRequest'
        description: 要创建的库位信息。
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
          description: 库位已成功创建。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 冲突。当请求与服务器的当前状态冲突时，将发送此响应。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:write
      summary: 创建库位
      tags:
      - Locations
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/locations/code/{code}:
    get:
      description: |
        通过库位编码检索特定库位的详细信息。

        **所需权限：** `warehouse:read`

        **使用场景：**
        - 验证库位编码有效性
        - 获取库位容量和规格信息
        - 库存操作前查询库位状态
      operationId: getLocationByCode
      parameters:
      - description: 库位编码。
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
          description: 库位详情。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:read
      summary: 获取库位详情
      tags:
      - Locations
      x-accepts: application/json
    put:
      description: |
        更新特定库位的信息。

        **所需权限：** `warehouse:write`

        **使用场景：**
        - 调整库位容量和规格
        - 更新库位类型和属性
        - 同步货架调整后的库位变更
      operationId: updateLocation
      parameters:
      - description: 库位编码。
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdateRequest'
        description: 要更新的库位信息。
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
          description: 库位已成功更新。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:write
      summary: 更新库位
      tags:
      - Locations
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/locations/code/{code}/status:
    put:
      description: |
        启用或禁用特定库位。

        **所需权限：** `warehouse:write`

        **使用场景：**
        - 库位维护时临时禁用
        - 新库位投入使用时启用
        - 库存策略调整时控制库位可用性
      operationId: updateLocationStatus
      parameters:
      - description: 库位编码。
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      - description: 新的库位状态。
        explode: true
        in: query
        name: status
        required: true
        schema:
          $ref: '#/components/schemas/EntityStatus'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
          description: 库位状态已成功更新。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - warehouse:write
      summary: 更新库位状态
      tags:
      - Locations
      x-accepts: application/json
  /api/v1/products/spus:
    get:
      description: 检索产品SPU的分页列表，允许过滤和排序。
      operationId: listProductSpus
      parameters:
      - description: 页码（从1开始）
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
        style: form
      - description: 每页记录数
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          example: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: 结果的排序字段。使用逗号分隔的字段列表。
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: "createdAt,spuCode"
          type: string
        style: form
      - description: 排序方向。ASC为升序，DESC为降序。
        explode: true
        in: query
        name: isAsc
        required: false
        schema:
          $ref: '#/components/schemas/SortDirection'
        style: form
      - description: 按SPU编码筛选。
        explode: true
        in: query
        name: spuCode
        required: false
        schema:
          type: string
        style: form
      - description: 按产品名称筛选。
        explode: true
        in: query
        name: productName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSpuListResponse'
          description: 产品SPU的分页列表。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - product:read
      summary: 列出产品SPU
      tags:
      - Product SPUs
      x-accepts: application/json
    post:
      description: 在主数据中创建一个新的产品SPU。此操作是幂等的，支持上游系统推送产品SPU数据。
      operationId: createProductSpu
      parameters:
      - description: 一个唯一的密钥（例如，UUID），以确保资源的幂等创建。
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductSpuCreateRequest'
        description: 要创建的产品SPU。
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSpuResponse'
          description: 产品SPU已成功创建。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 冲突。当请求与服务器的当前状态冲突时，将发送此响应。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - product:write
      summary: 创建一个产品SPU
      tags:
      - Product SPUs
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/products/spus/code/{spuCode}:
    delete:
      description: 通过SPU编码删除产品SPU。使用业务编码而非内部ID进行操作。
      operationId: deleteProductSpuByCode
      parameters:
      - description: 产品SPU的业务编码。
        explode: false
        in: path
        name: spuCode
        required: true
        schema:
          example: SPU-001
          pattern: "^[A-Za-z0-9-]{1,50}$"
          type: string
        style: simple
      responses:
        "204":
          description: 产品SPU已成功删除。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 冲突。产品SPU无法删除，例如，它有关联的产品。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - product:write
      summary: 通过SPU编码删除产品SPU
      tags:
      - Product SPUs
      x-accepts: application/json
    get:
      description: 通过SPU编码检索特定产品SPU的详细信息。使用业务编码而非内部ID进行查询。
      operationId: getProductSpuByCode
      parameters:
      - description: 产品SPU的业务编码。
        explode: false
        in: path
        name: spuCode
        required: true
        schema:
          example: SPU-001
          pattern: "^[A-Za-z0-9-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSpuResponse'
          description: 产品SPU详情。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - product:read
      summary: 通过SPU编码获取产品SPU
      tags:
      - Product SPUs
      x-accepts: application/json
    put:
      description: 通过SPU编码更新产品SPU的所有属性。使用业务编码而非内部ID进行操作。
      operationId: updateProductSpuByCode
      parameters:
      - description: 产品SPU的业务编码。
        explode: false
        in: path
        name: spuCode
        required: true
        schema:
          example: SPU-001
          pattern: "^[A-Za-z0-9-]{1,50}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductSpuUpdateRequest'
        description: 要更新的完整产品SPU数据。
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSpuResponse'
          description: 产品SPU已成功更新。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - product:write
      summary: 通过SPU编码更新产品SPU（完整）
      tags:
      - Product SPUs
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/products:
    get:
      description: 检索产品的分页列表，允许过滤和排序。
      operationId: listProducts
      parameters:
      - description: 页码（从1开始）
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
        style: form
      - description: 每页记录数
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          example: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: 结果的排序字段。使用逗号分隔的字段列表。
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: "createdAt,sku"
          type: string
        style: form
      - description: 排序方向。ASC为升序，DESC为降序。
        explode: true
        in: query
        name: isAsc
        required: false
        schema:
          $ref: '#/components/schemas/SortDirection'
        style: form
      - description: 按产品SKU筛选。
        explode: true
        in: query
        name: sku
        required: false
        schema:
          type: string
        style: form
      - description: 按产品状态筛选。
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/ProductStatus'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
          description: 产品的分页列表。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - product:read
      summary: 列出产品
      tags:
      - Products
      x-accepts: application/json
    post:
      description: 在主数据中创建一个新产品。此操作是幂等的，支持上游系统推送产品数据。
      operationId: createProduct
      parameters:
      - description: 一个唯一的密钥（例如，UUID），以确保资源的幂等创建。
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateRequest'
        description: 要创建的产品。
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
          description: 产品已成功创建。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 冲突。当请求与服务器的当前状态冲突时，将发送此响应。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - product:write
      summary: 创建一个产品
      tags:
      - Products
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/products/batch:
    post:
      description: 支持上游系统批量推送产品数据到WMS系统。适用于ERP系统、电商平台等批量同步产品主数据的场景。批量操作具有事务一致性：要么全部成功创建，要么全部失败。
      operationId: createProductsBatch
      parameters:
      - description: 一个唯一的密钥（例如，UUID），以确保批量操作的幂等性。
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductBatchRequest'
        description: 批量创建的产品数据。
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductBatchResponse'
          description: 批量操作成功完成，返回创建的产品ID列表。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - product:write
      summary: 批量创建产品
      tags:
      - Products
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/products/skuCode/{skuCode}:
    delete:
      description: 通过产品SKU编码删除产品。外部skuCode将映射到内部的sku或gsku字段。
      operationId: deleteProductBySkuCode
      parameters:
      - description: 产品SKU编码（外部编码，将映射到内部sku或gsku）。
        explode: false
        in: path
        name: skuCode
        required: true
        schema:
          example: WIDGET-001
          pattern: "^[A-Za-z0-9-]{1,50}$"
          type: string
        style: simple
      responses:
        "204":
          description: 产品已成功删除。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 冲突。产品无法删除，例如，它有关联的库存。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - product:write
      summary: 通过SKU编码删除产品
      tags:
      - Products
      x-accepts: application/json
    get:
      description: 通过产品SKU编码检索特定产品的详细信息。外部skuCode将映射到内部的sku或gsku字段。
      operationId: getProductBySkuCode
      parameters:
      - description: 产品SKU编码（外部编码，将映射到内部sku或gsku）。
        explode: false
        in: path
        name: skuCode
        required: true
        schema:
          example: WIDGET-001
          pattern: "^[A-Za-z0-9-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
          description: 产品详情。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - product:read
      summary: 通过SKU编码获取产品
      tags:
      - Products
      x-accepts: application/json
    patch:
      description: 通过产品SKU编码更新产品的一个或多个属性。外部skuCode将映射到内部的sku或gsku字段。
      operationId: partialUpdateProductBySkuCode
      parameters:
      - description: 产品SKU编码（外部编码，将映射到内部sku或gsku）。
        explode: false
        in: path
        name: skuCode
        required: true
        schema:
          example: WIDGET-001
          pattern: "^[A-Za-z0-9-]{1,50}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPartialUpdateRequest'
        description: 要更新的产品属性。
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
          description: 产品已成功更新。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - product:write
      summary: 通过SKU编码更新产品（部分）
      tags:
      - Products
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: 通过产品SKU编码更新产品的所有属性。外部skuCode将映射到内部的sku或gsku字段。
      operationId: updateProductBySkuCode
      parameters:
      - description: 产品SKU编码（外部编码，将映射到内部sku或gsku）。
        explode: false
        in: path
        name: skuCode
        required: true
        schema:
          example: WIDGET-001
          pattern: "^[A-Za-z0-9-]{1,50}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateRequest'
        description: 要更新的完整产品数据。
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
          description: 产品已成功更新。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 错误的请求。由于被认为是客户端错误（例如，格式错误的请求语法、无效的请求消息帧或欺骗性的请求路由），服务器无法或不会处理该请求。
        "401":
          content:
            application/json:
              examples:
                invalid_token:
                  summary: 无效令牌
                  value:
                    success: false
                    code: AUTH003
                    message: Access token has expired or is invalid
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH003
                      message: The provided access token is expired or invalid
                missing_token:
                  summary: 缺少认证令牌
                  value:
                    success: false
                    code: AUTH001
                    message: Missing authorization header
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH001
                      message: Authorization header with Bearer token is required
                invalid_credentials:
                  summary: 无效凭证
                  value:
                    success: false
                    code: AUTH002
                    message: Invalid client credentials or API key
                    timestamp: 2024-01-01T12:00:00Z
                    error:
                      code: AUTH002
                      message: The provided client credentials or API key is invalid
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未经授权。客户端必须对自己进行身份验证才能获得请求的响应。
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 未找到。服务器找不到请求的资源。
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: 内部服务器错误。服务器遇到了不知道如何处理的情况。
      security:
      - BearerAuth:
        - product:write
      summary: 通过SKU编码更新产品（完整）
      tags:
      - Products
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/inbound/orders:
    get:
      description: |
        检索入库单的分页列表，支持多种筛选条件和排序。

        **所需权限：** `inbound:read`

        **使用场景：**
        - ERP系统查询入库单状态
        - 供应商门户查看入库进度
        - 仓库管理系统监控入库作业
        - 财务系统核对入库记录
      operationId: listInboundOrders
      parameters:
      - description: 页码（从1开始）
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
        style: form
      - description: 每页记录数
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          example: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: 结果的排序字段。使用逗号分隔的字段列表。
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: "createdAt,inboundNo"
          type: string
        style: form
      - description: 排序方向。ASC为升序，DESC为降序。
        explode: true
        in: query
        name: isAsc
        required: false
        schema:
          $ref: '#/components/schemas/SortDirection'
        style: form
      - description: 按入库单号筛选。
        explode: true
        in: query
        name: inboundNo
        required: false
        schema:
          type: string
        style: form
      - description: 按入库类型筛选。
        explode: true
        in: query
        name: inboundType
        required: false
        schema:
          $ref: '#/components/schemas/InboundTypeEnum'
        style: form
      - description: 按入库单状态筛选。
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/InboundOrderStatusEnum'
        style: form
      - description: 按货主编码筛选。
        explode: true
        in: query
        name: ownerCode
        required: false
        schema:
          type: string
        style: form
      - description: 按仓库编码筛选。
        explode: true
        in: query
        name: warehouseCode
        required: false
        schema:
          type: string
        style: form
      - description: 创建时间起始日期筛选。
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: 创建时间结束日期筛选。
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date
[...]
